<!DOCTYPE html>
<html>
<head>
  <title>{% if page.title %}{{ page.title }}{% else %}{{ site.name }}{% endif %}</title>
  <link rel="shortcut icon" type="image/png" href="{{ site.avatar }}"/>

  {% include meta.html %}

  <!--[if lt IE 9]>
  <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->

  <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/style.css" />

</head>

<body>
  <div class="wrapper-masthead">
    <div class="container">
      <header class="masthead clearfix center-text">
        <h1 class="site-name">
          <img class="site-avatar" src="{{ site.avatar }}"/>
          <div class="site-title">{{ site.name }}</div>
        </h1>
      </header>
    </div>
  </div>

  <div id="main" role="main" class="container">
    {{ content }}
  </div>

  <!-- <div class="wrapper-footer">
  <div class="container">
  <footer class="footer">
  {% include svg-icons.html %}
</footer>
</div>
</div> -->

<!-- {% include analytics.html %} -->
</body>
</html>
